{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% macro schedule_day(day) %}
	<div class="row">
		<p class="col-md-1 col-xs-12">{{ day.name if day.name else day.date }}</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_times">
				<div class="work_time" style="left: {{ day.start }}%; width: {{ day.lunch_start - day.start }}%;"></div>
				<div class="work_time" style="left: {{ day.lunch_end }}%; width: {{ day.end - day.lunch_end }}%;"></div>
			</div>
		</div>
	</div>
	<br>

{% endmacro %}

{% block page_content %}
	<h1>Basschema</h1>
	<hr>
	{% for day in schedule %}
		{{ schedule_day(day) }}
	{% endfor %}
	<h1>Avvikelser</h1>
	<hr>
	{% for day in deviations %}
		{{ schedule_day(day) }}
	{% endfor %}
	
{% endblock %}