{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
	<h1>Basschema</h1>
	<hr>
	<div class="row">
		<p class="col-md-1 col-xs-12">Måndag:</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<p class="col-md-1 col-xs-12">Tisdag:</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<p class="col-md-1 col-xs-12">Onsdag:</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<p class="col-md-1 col-xs-12">Torsdag:</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<p class="col-md-1 col-xs-12">Fredag:</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	<h1>Avvikelser</h1>
	<hr>
<div class="row">
		<p class="col-md-1 col-xs-12">2016/09/10</p>
		<div class="col-md-11 col-xs-12">
			<div class="work_time">
				<div class="lunch">
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}