@import "utilities/variables"

.colorg
  color: $green !important

.fixed-width-button
  width: 75px

.work_time
  background: white
  border-style: solid
  border-style: 1px
  padding: 20px

.lunch
  background: black